<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <h1 id="heading" class="box">
    <%= kindOfDay %>
  </h1>

  <div class="box">
    <ul>
      <% for(let i=0; i < lists.length; i++){ %>
        <li class="item">
          <input type="checkbox">
          <p>
            <%= lists[i] %>
          </p>
        </li>
        <% } %>
    </ul>

    <form action="/" method="post">
      <input type="text" name="task" placeholder="Task">
      <input type="submit" value="+">
    </form>
  </div>

  <footer>
    &copy;2022 Kaung Production
  </footer>

</body>

</html>